<!-- More Info -->
<div class="modal fade" id="Modal-MoreInfo{{ career.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">
          {{ career.name }}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ career.description }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Apply -->
<div class="modal fade" id="Modal-ApplyConfirm{{ career.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">
            Are you sure you want to apply for {{ career.name }} {{ career.type }}?
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST">
            {% csrf_token %}
            <h4 class="text-center">
                {{ career.name }} {{ career.type }} is not allowed for people placed with higer package
            </h4>
            <br>
            <h6 class="text-center">
                By clicking Apply, your application will be in consideration for {{ career.name }} {{ career.type }}
            </h6>
            <br>
            <input type="hidden" name="applied-career" value="{{ career.name }}">
            <button type="submit" class="btn btn-outline-success btn-block">Apply</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>